.hro {
  background-image: url(../../components/assets/images/Home\ \(4\).png);
  /* max-height: 100vh; */
  background-size: cover;
  background-position:  center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
  min-height: 85vh;
  
}
.hero-section {
  text-align: center;
  margin-top: 40px;
  position: relative;
  align-items: center;
  overflow: hidden;
}

.hero-text {
  margin-top: 10px;
  
  font-family: poppins;
  font-style: italic;
  margin-bottom: 50px;
}
.hero-text h1 {
  font-weight: bold;
  font-size: clamp(2.5rem, 3.8vw, 0.3rem);
  margin-bottom: 0px;
}
 .hero-text p {
  color: #f78b3e;
  font-size: 1.5rem;
  margin-top: 0px;
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: clamp(1.5rem, 2vw, 0.3rem);
}


.s-course {
  font-weight: bold;
  color: #fff;
  font-size: clamp(2.8rem, 3.8vw, 1.8rem);

}
/* App.css */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  /* min-width: 750px; */
  position: relative;
  padding-top: 10px;
  width: 100%;
  margin: auto;
  object-fit: cover;
  object-position: top center;
  overflow: visible;
}

.image-container img {
  margin: 5px;
  border-radius: 20px;
}

.img1, .img4 {
  width: 170px;
  height: 250px;
  align-self: center;
}

.img2, .img3 {
  width: 200px;
  height: 320px;
}


