.chat-container {
    max-width: 50%;
    margin: 50px auto;
    background-color: #31301E;
    border-radius: 10px;
    padding: 10px;
    padding-bottom: 200px;
    min-width: 50%;
  }
  .chat-bubble {
    max-width: 70%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
  }
  .bot-message {
    background-color: #1A1905;
    color: #ddd;
    align-self: flex-start;
  }
  .user-message {
    background-color: #694829;
    color: #DDD;
    align-self: flex-end;
  }
  .chat-input {
  max-width: 800px;
  margin: 50px auto;
  display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    color: #fff;
    width: 100%;
  }
  .chat-input input {
    width: 100%;
    background-color: #322F1E;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #ddd;
  }
  .chat-input button {
    width: 10%;
    padding: 10px;
    background-color: #ddd;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }