
  .dash {
    color: #f78b3e;
    font-weight: bolder;
    font-size: 32px;
    margin-right: 15px;
    margin-left: 10px;
  }
  .navbarnav {
    border-radius: 10px;
    background-color: #31301e;
    justify-content: center;
    list-style-type: none;
    margin: 0px 20px;
    font-size: 24px;
    color: #fff;
   
  }
  .nav-link {
    --bs-nav-link-color: #fff;
    
    font-size: 24px;
    margin-right: 10px;
    font-weight: bold;
    padding: 5px;
  }
  .nav-item:hover{
  color: #ff995b;
  }
  
  .nav-link.active {
  background-color: #ff995b !important;
  color: #ffffff !important;
  border-radius: 10px;
  padding: 5px;
  }
  .navbar-toggler-icon {
    background: #393822;
    align-self: flex-end;
  }
  .btn-get-started {
    background-color: #f78b3e;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 23px, 22px, 23px, 22px;
    width: fixed(197px);
    height: hug(78px);
    font-size: 20px;
    font-weight: 450;
  }
  .btn-get-started:hover {
    background-color: #e67a2c;
  }
  .btn {
    --bs-btn-bg: #ff995b;
  }