.Header {
  display: flex;
  margin: 20px;
  align-content: center;
  padding: auto;
  margin-top: 50px;
}

.course-des {
  background-color: #31301e;
  border-radius: 30px;
  padding: 20px;
  width: 80%;
  align-items: center;
  justify-content: center;
  text-align: center;

}

.course-buttons {
  text-align: center;
  margin: 0 0px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.course-buttons .btn {
  margin: 5px 15px;
  background-color: #bcbcbc;
  color: black;
  font-size: 18px;
  border-radius: 10px;
  width: 100%;
  max-width: 156px;
  height: 56px;
  font-weight: bold;
  flex: 1 1 auto;
}

.course-buttons .btn:active {
  background-color: #fff;
}

@media (max-width: 767px) {
  .course-buttons {
    flex-direction: column;
    align-items: center;
  }
}

.info {
  justify-content: center;
  font-size: 24px;
}

.video-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px 0;
}

/* Video styles */
.video-section video {
  width: 100%;
  /* height: auto; */
  max-width: 100%;
  border-radius: 20px;
  
}

/* Make sure all videos have consistent size on smaller screens */
@media (max-width: 767px) {
  .video-section .row.alone video,
  .video-section .row div.col-md-4 video {
    width: 100%;
    max-width: 100%; /* Ensure all videos have the same max width */
    height: auto;
  }
}

.action-buttons {
  display: flex;
  align-items: center;
  text-align: center;
  align-content: center;
  /* margin-top: 200px; */
 
 position: fixed;
  
}

.action-buttons .btn {
  background-color: #D1C7C7;
  color: #2C2B2A;
  border: none;
  font-size: 1.2rem;
  margin: 10px;
  width: 90%;
  height: 60px;
}

.action-buttons .btn:hover {
  background-color: #C6B6B6;
}

.spaced-button {
  margin-right: 5px;
  margin-left: 5px;
}

.content-header {
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: center;
  background-color: #ff944d;
  color: black;
  font-weight: bold;
  width: 200px;
  height: 56px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 5px;
  position: relative;
}
.container {
  width: 100%;
  height: 100vh;
}
.dropdown {
  /* width: 400px; */
  /* margin: 100px auto; */
  position: relative;
}

.dropdown .dropdown-btn {
  padding: 10px 10px;
  font-size: 20px;
  /* background: #fff; */
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: bold;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dropdown .dropdown-content {
  position: absolute;
  top: 110%;
  left: 0;
  padding: 15px;
  background: #31301e;
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  font-weight: 500;
  color: #fff;
  width: 95%;
}
.dropdown .dropdown-content .dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}
.dropdown .dropdown-content .dropdown-item:hover {
  background: #f4f4f4;
}